.border-right-none {
    border-right: none!important;
}

.btn-xs {
    padding:  .2rem 0.8rem;
    font-size:  .5rem;
    line-height:  1.5;
}

.image-preview {
    border: 2px dashed #444;
    margin-top: 20px;
    padding: 30px;
    color: #777;
    font-size: 0.85rem;
}
